@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P.woff2');
}

* {
    font-family: 'Press Start 2P';
}

html {
    font-size: 14px;
}

input {
    font-family: inherit;
}

.app {
    position: relative;
}

.app--light {
    color: white;
}

.app__ui {
    position: absolute;
    margin: 5px 15px;
}

.search-form .search-form__input,
.search-form .search-form__submit {
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
}

.metadata__summary {
    padding-left: 20px;
}

.metadata__summary-item {
    margin-bottom: 10px;
}
